lib/VirtualPiggy/Schemas/virtualpiggy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cart-shipment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="shipment-tax">
                <xs:complexType>
                  <xs:attribute name="total" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="shipment-cost" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="total" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="shipment-discount" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="total" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="reward-points" minOccurs="0" maxOccurs="1" >
                <xs:complexType>
                  <xs:attribute name="total" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="shipment-address" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="address" />
                    <xs:element name="zip" />
                    <xs:element name="city" />
                    <xs:element name="state" />
                    <xs:element name="country" minOccurs="0" maxOccurs="1" />
                    <xs:element name="phone"  minOccurs="0" maxOccurs="1" />
                    <xs:element name="name" minOccurs="0" maxOccurs="1" />
                    <xs:element name="attention-of" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item-identifier" type="xs:string" minOccurs="0" />
                          <xs:element name="item-name" type="xs:string" />
                          <xs:element name="item-description" type="xs:string" />
                          <xs:element name="item-price" type="xs:decimal" />
                          <xs:element name="item-quantity" type="xs:int" />
                        </xs:sequence>
                        <xs:attribute name="total" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="total" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="currency" type="xs:string" use="optional" default="USD" />
      <xs:attribute name="total" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>